 .details{
    background-color: rgb(48, 45, 45);
    color: #fff;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
}

.details img{
    height: 200px;
    width:100%;
    border-radius: 5px;
    border-radius: 5px;
}
.booking-btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    background-color: chartreuse;
    border-radius: 10px;
}